// (min-width:769px)

html,
body,
#main,
#all {
	width: 100%;
	height: 100%
}

header {
	height: 25%;

	#prjLogo {
		float: right;
		padding: 1%;
		max-width: 20%;
		height: 80%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	time {
		width: 40%;
		margin: 0 auto;
	    display: block;
	    text-align: center;
	    background-color: #3d4f59;
        padding: 1%;
	    color: #fff;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	}

	time span:last-child {
		margin-left: 85px;
	}

	#logo {
		max-width: 20%;
		max-height: 80%;
		float: left;
		display: inline-block;
		height: 100%;
		padding: 1%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.bar {
		height: 20%;
		color: #fff;
		clear: both;
		background-color: #3D4F59;
		font-size: 23px;

		ul {
			height: 100%;
			width: 100%;
			display: table;
			padding: 0 15px;
		}

		li {
			width: 33%;
			display: table-cell;
			vertical-align: middle;
		}

		li:last-child {
			padding-left: 20%;
		}
	}

	#flag {
		width: 10%;
		display: none;
	}
}

.mainGrid {
	height: 75%;
	padding: 15px 20px;
}

.about {
	background-color: #cf0;
    width: 40%;
    height: 45%;
    display: inline-block;
    float: left;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
		color: #fff;
	    background-color: #1263C7;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 1%;
	    height: 13%;
	    font-size: 3vmin;
	}

	.aboutContent {
		background-color: #ccc;
		height: 87%;
		padding: 15px;

		ul {
			margin-bottom: 20px;
		}

		label {
			font-weight: bold;
    		margin-bottom: 10px;
    		display: block;
		}

		li {
			list-style: disc;
			margin-left: 25px;
		}
	}
}

.status {
	background-color: #c6F;
	width: 57%;
	height: 45%;
	float: right;
	display: inline-block;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
	    background-color: orange;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 1%;
	    font-size: 3vmin;
	}

	.statusContent {
		padding: 15px;

		ul {
			margin-bottom: 20px;
		}

		label {
			font-weight: bold;
    		margin-bottom: 10px;
    		display: block;
		}

		li {
			list-style: disc;
			margin-left: 25px;
		}
	}
}

.team {
	clear: both;
    height: 55%;
    width: 40%;
}

.teamContent {
	max-height: 90%;
	height: 90%;
}

.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 33%;
		height: 33%;
		text-align: center;
}

.teamContent h5 {
	margin: 0;
}

img.profilePic {
	max-height: 69%;
	max-height: 67%;
}


@media only screen 
  and (min-width: 1024px) {
	
}
