// (max-width:768px)

html,
	body,
	#main,
	#all {
		width: 100%;
		height: 100%;
}

.title {
		padding: 3%;
		color: #fff;
		font-weight: bold;
}	

.about .title,
.team .title {
	background: url('../img/bar_orange.png') top repeat-x;
	text-shadow: 0px -1px 0px #8A4C0D;
}

.status .title {
	background: url('../img/bar_orange.png') top repeat-x;
	text-shadow: 0px -1px 0px #8A4C0D;
}

.title span {
	display: block;
	height: 16px;
}

.but-icon {
	width: 20px;
	float: left;
	margin-right: 1%;
}

.about .but-icon {
	background: url('../img/icon_about.png') center no-repeat;
}

.status .but-icon {
	background: url('../img/icon_status.png') center no-repeat;
}

.team .but-icon {
	background: url('../img/icon_team.png') center no-repeat;
}

header {
	height: 70px;
	background-color: #ccc;
	padding: 1%;

	#prjLogo,
	time {
		display: none;
	}

	#logo {
		height: 100%;
		max-width: 30%;
		max-height: 100%;
		display: inline-block;
		margin-right: 3%;
		float: left;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.bar {
		width: 67%;
		display: inline-block;
		color: #fff;
	}

	#flag {
		width: 10%;
	}
}	

	.about {
    	background-color: #14477B;
    	color: #fff;

    	.aboutContent {
			ul:first-child {
				margin-bottom: 6%;
			}

			li {
			    list-style: initial;
				margin-left: 10%;
			}

			label {
				font-weight: bold;
			    margin-bottom: 2%;
			    display: block;
			}
		}
	}
	
	.status {
    	background-color: #D8D8D8;
    	height: 100%;

    	label {
    		font-weight: bold;
    	}

    	.issues {
    		margin-bottom: 6%;
    	}

    	.keyItems {
    		margin-bottom: 4%;
    	}

    	li {
    		list-style: initial;
    		margin-left: 10%;
    	}
	}

	.team {
    	background-color: #14477B;
    	color: #fff;

    	.teamContent {
			.profilePic {
				max-width: 95%;
				border-radius: 6px;
			}

			.profileFirstName,
			.profileLastName {
				margin: 0;
			}
		}
	}

	.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 33%;
		text-align: center;
	}


	.aboutContent,
	.teamContent {
		padding: 5%;
		overflow: hidden;
	}

	.statusContent {
		padding: 5% 5% 2%;
		color: #584C4C;
		height: 100%;
	}



.progress {
    height: 100%;
}

.bar-main-container {
	background-color: #AAAFB7;
	margin: 10px auto 0;
	height: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 1em;
	color: #FFF;
	box-shadow: 4px 4px 7px #888888;
}

.wrap { padding: 8px; }

.bar-percentage {
	float: left;
	background: rgba(0,0,0,0.13);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2% 3%;
	width: 18%;
	height: 34px;
	text-align: center;
}

.bar-container {
	float: right;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 15px;
	background: rgba(0,0,0,0.13);
	width: 78%;
	margin: 9px 0px;
}

.meter { 
			height: 100%;
			width: 100%;
			background: #555;
			padding: 2px;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);

		
		span {
			display: block;
			height: 95%;
			
			-webkit-border-top-right-radius: 2px;
			-webkit-border-bottom-right-radius: 2px;
			-moz-border-radius-topright: 2px;
			-moz-border-radius-bottomright: 2px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			-webkit-border-top-left-radius: 2px;
			-webkit-border-bottom-left-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-bottomleft: 2px;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
		}

		span:after {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .2)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .2)),
			      color-stop(.75, rgba(255, 255, 255, .2)),
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .2) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .2) 50%,
			      rgba(255, 255, 255, .2) 75%,
			      transparent 75%,
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			-moz-animation: move 2s linear infinite;
			-webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			-moz-border-radius-topright: 8px;
			-moz-border-radius-bottomright: 8px;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			-webkit-border-top-left-radius: 20px;
			-webkit-border-bottom-left-radius: 20px;
			-moz-border-radius-topleft: 20px;
			-moz-border-radius-bottomleft: 20px;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			overflow: hidden;
		}
	}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

		@-moz-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

		@keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

/* BAR COLORS */

.percent10 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF1100), color-stop(1, #FF1100));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,17,0) 37%,
			  rgb(255,17,0) 69%
			 );
}
.percent20 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF5E00), color-stop(1, #FF5E00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,94,0) 37%,
			  rgb(255,94,0) 69%
			 );
}
.percent30 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #007EFF), color-stop(1, #007EFF));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(0,126,255) 37%,
			  rgb(0,126,255) 69%
			 );
}
.percent40 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0037FF), color-stop(1, #0037FF));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(0,55,255) 37%,
			  rgb(0,55,255) 69%
			 );
}
.percent50 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFB000), color-stop(1, #FFB000));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,176,0) 37%,
			  rgb(255,176,0) 69%
			 );
}
.percent60 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFEB00), color-stop(1, #FFEB00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,235,0) 37%,
			  rgb(255,235,0) 69%
			 );
}
.percent70 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E4FF00), color-stop(1, #E4FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(228,255,0) 37%,
			  rgb(228,255,0) 69%
			 );
}
.percent80 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B4FF00), color-stop(1, #B4FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(180,255,0) 37%,
			  rgb(180,255,0) 69%
			 );
}
.percent90 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #86FF00), color-stop(1, #86FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(134,255,0) 37%,
			  rgb(134,255,0) 69%
			 );
}
.percent100 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #27FF00), color-stop(1, #27FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(39,255,0) 37%,
			  rgb(39,255,0) 69%
			 );
}

@media only screen 
  and (min-width: 0px) 
  and (max-width: 480px) {
	.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 33%;
		text-align: center;
	}
}

@media only screen 
  and (min-width: 481px) 
  and (max-width: 768px) {
	.aboutContent ul,
	.issues,
	.keyItems {
		float: left;
		width: 40%;
	}

	.aboutContent ul:first-child {
		margin-right: 20%;
	}

	.issues {
		margin-right: 20%;
	}

	.progress {
		clear: both;
		height: 100%;
    	width: 100%;
	}

}

@media only screen 
  and (min-width: 481px) 
  and (max-width: 600px) {
	.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 25%;
		text-align: center;
	}
	.bar-main-container {
		width: 80%;
	}		
}

@media only screen 
  and (min-width: 601px) 
  and (max-width: 768px) {
	.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 20%;
		text-align: center;
	}		
	.bar-main-container {
		width: 70%;
	}
}