html,
body,
#main,
#all {
  width: 100%; }

.title {
  padding: 3%;
  color: #fff;
  font-weight: bold; }

.about .title,
.team .title {
  background: url("../img/bar_orange.png") top repeat-x;
  text-shadow: 0px -1px 0px #8A4C0D; }

.status .title {
  background: url("../img/bar_orange.png") top repeat-x;
  text-shadow: 0px -1px 0px #8A4C0D; }

.title span {
  display: block;
  height: 16px; }

.but-icon {
  width: 20px;
  float: left;
  margin-right: 1%; }

.about .but-icon {
  background: url("../img/icon_about.png") center no-repeat; }

.status .but-icon {
  background: url("../img/icon_status.png") center no-repeat; }

.team .but-icon {
  background: url("../img/icon_team.png") center no-repeat; }

header {
  height: 70px;
  background-color: #ccc;
  padding: 1%; }
  header #prjLogo,
  header time {
    display: none; }
  header #logo {
    height: 100%;
    max-width: 30%;
    max-height: 100%;
    display: inline-block;
    margin-right: 3%;
    float: left; }
    header #logo img {
      max-width: 100%;
      max-height: 100%; }
  header .bar {
    width: 67%;
    display: inline-block;
    color: #fff; }
  header #flag {
    width: 10%; }

.about {
  background-color: #14477B;
  color: #fff; }
  .about .aboutContent ul:first-child {
    margin-bottom: 6%; }
  .about .aboutContent li {
    list-style: initial;
    margin-left: 10%; }
  .about .aboutContent label {
    font-weight: bold;
    margin-bottom: 2%;
    display: block; }

.status {
  background-color: #D8D8D8; }
  .status label {
    font-weight: bold; }
  .status .issues {
    margin-bottom: 6%; }
  .status .keyItems {
    margin-bottom: 4%; }
  .status li {
    list-style: initial;
    margin-left: 10%; }

.team {
  background-color: #14477B;
  color: #fff; }
  .team .teamContent .profilePic {
    max-width: 95%;
    border-radius: 6px; }
  .team .teamContent .profileFirstName,
  .team .teamContent .profileLastName {
    margin: 0; }

.teamContent > div {
  overflow: hidden;
  display: inline-block;
  width: 33%;
  text-align: center; }

.aboutContent,
.teamContent {
  padding: 5%;
  overflow: hidden; }

.statusContent {
  padding: 5% 5% 0;
  color: #584C4C; }

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .teamContent > div {
    overflow: hidden;
    display: inline-block;
    width: 33%;
    text-align: center; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .aboutContent ul,
  .issues,
  .keyItems {
    float: left;
    width: 40%; }

  .aboutContent ul:first-child {
    margin-right: 20%; }

  .issues {
    margin-right: 20%; }

  .progress {
    clear: both; } }
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .teamContent > div {
    overflow: hidden;
    display: inline-block;
    width: 25%;
    text-align: center; } }
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .teamContent > div {
    overflow: hidden;
    display: inline-block;
    width: 20%;
    text-align: center; } }
.bar-main-container {
  margin: 10px auto;
  width: 300px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF; }

.wrap {
  padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0, 0, 0, 0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  height: 16px;
  text-align: center;
  }

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden; }

.meter {
  height: 100%;
  width: 100%;
  background: #555;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }

.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
  background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden; }

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden; }

.animate > span:after {
  display: none; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
@-moz-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
/* Bar colors */
.azure {
  background: #38B1CC; }

.emerald {
  background: #2CB299; }

.violet {
  background: #8E5D9F; }

.yellow {
  background: #EFC32F; }

.red {
  background: #E44C41; }

.white {
  background: #fff; }

/*# sourceMappingURL=styles-small.css.map */
