// (max-width:768px)

@mixin radius($radius){
	@include radius_top($radius);
	@include radius_bottom($radius);
}

@mixin radius_top($radius){
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;

	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
}

@mixin radius_bottom($radius){
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;

	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

@mixin percentcolor ($color){
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $color), color-stop(1, $color));
	background-image: -moz-linear-gradient(center bottom, $color 37%,$color 69%);
}

@mixin dimensions ($w:100% , $h:100%){
	width: $w;
	height: $h;
}

html,
	body,
	#main,
	#all {
		@include dimensions();
}

.title {
		padding: 1%;
		color: #fff;
		font-weight: bold;
		font-size: 4vmin;
}	

.about .title,
.team .title {
	background: url('../img/bar_orange.png') top repeat-x;
	text-shadow: 0px -1px 0px #8A4C0D;
}

.status .title {
	background: url('../img/bar_orange.png') top repeat-x;
	text-shadow: 0px -1px 0px #8A4C0D;
}

.title span {
	@include dimensions(w,16px);
	display: block;
}

.but-icon {
	@include dimensions(20px, h);
	float: left;
	margin-right: 1%;
}

.about .but-icon {
	background: url('../img/icon_about.png') center no-repeat;
}

.status .but-icon {
	background: url('../img/icon_status.png') center no-repeat;
}

.team .but-icon {
	background: url('../img/icon_team.png') center no-repeat;
}

header {
	@include dimensions(w, 70px);
	background-color: #ccc;
	padding: 1%;

	#prjLogo,
	time {display: none;}

	#logo {
		@include dimensions(w, 100%);
		max-width: 30%;
		max-height: 100%;
		display: inline-block;
		margin-right: 3%;
		float: left;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.bar {
		@include dimensions(67%, h);
		display: inline-block;
		color: #fff;
	}
}	

	.about {
    	background-color: #14477B;
    	color: #fff;

    	.aboutContent {
			ul:first-child {margin-bottom: 6%;}

			li {
			    list-style: initial;
				margin-left: 10%;
			}

			label {
				font-weight: bold;
			    margin-bottom: 2%;
			    display: block;
			}
		}
	}
	
	.status {
		@include dimensions(w, 100%);
    	background-color: #D8D8D8;

    	label {font-weight: bold;}

    	.issues {margin-bottom: 6%;}

    	.keyItems {margin-bottom: 4%;}

    	li {
    		list-style: initial;
    		margin-left: 10%;
    	}
	}

	.team {
    	background-color: #14477B;
    	color: #fff;

    	.teamContent {
			.profilePic {
				@include radius(6px);
				max-width: 95%;
			}

			.profileFirstName,
			.profileLastName {
				margin: 0;
			}
		}
	}

	.container > div {
		@include dimensions(33%, h);
		overflow: hidden;
		display: inline-block;
		text-align: center;
	}



	.aboutContent,
	.teamContent {
		padding: 5%;
		overflow: hidden;
	}

	.statusContent {
		@include dimensions(w, 100%);
		padding: 5% 5% 0;
		color: #584C4C;
		overflow: hidden;
	}



.progress {
	@include dimensions();
    clear: both;
    padding: 2%;
}

.bar-main-container {
	@include dimensions(w, 50px);
	@include radius(4px);
	background-color: #AAAFB7;
	margin: 0 auto;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 1em;
	color: #FFF;
	box-shadow: 4px 4px 7px #888888;
}

.wrap { padding: 8px; }

.bar-percentage {
	@include dimensions(18%, 34px);
	@include radius(4px);
	float: left;
	background: rgba(0,0,0,0.13);
	padding: 2% 3%;
	text-align: center;
}

.bar-container {
	@include dimensions(78%, 15px);
	@include radius(2px);
	float: right;
	background: rgba(0,0,0,0.13);
	margin: 9px 0px;
}

.meter { 
	@include dimensions();
	@include radius(4px);
	background: #555;
	padding: 2px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);

		
	span {
		@include dimensions(w, 95%);
		@include radius(2px);
		display: block;
		-webkit-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		-moz-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		position: relative;
	}

		span:after {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .2)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .2)),
			      color-stop(.75, rgba(255, 255, 255, .2)),
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .2) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .2) 50%,
			      rgba(255, 255, 255, .2) 75%,
			      transparent 75%,
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			-moz-animation: move 2s linear infinite;
			@include radius(2px);	
			overflow: hidden;
		}
	}
		
		@-webkit-keyframes move {
		    0% {background-position: 0 0;}
		    100% {background-position: 50px 50px;}
		}

		@-moz-keyframes move {
		    0% {background-position: 0 0;}
		    100% {background-position: 50px 50px;}
		}

		@keyframes move {
		    0% {background-position: 0 0;}
		    100% {background-position: 50px 50px;}
		}

/* BAR COLORS */
.percent10 {@include percentcolor(#FF1100);}
.percent20 {@include percentcolor(#FF5E00);}
.percent30 {@include percentcolor(#007EFF);}
.percent40 {@include percentcolor(#0037FF);}
.percent50 {@include percentcolor(#FFB000);}
.percent60 {@include percentcolor(#FFEB00);}
.percent70 {@include percentcolor(#E4FF00);}
.percent80 {@include percentcolor(#B4FF00);}
.percent90 {@include percentcolor(#86FF00);}
.percent100 {@include percentcolor(#27FF00);}

@media only screen 
  and (min-width: 0px) 
  and (max-width: 480px) {
	.container > div {
		@include dimensions(33%, h);
		overflow: hidden;
		display: inline-block;
		text-align: center;
	}
}

@media only screen 
  and (min-width: 481px) 
  and (max-width: 1023px) {
	.aboutContent ul,
	.issues,
	.keyItems {
		@include dimensions(40%, h);
		float: left;
	}

	.aboutContent ul:first-child {margin-right: 20%;}

	.issues {margin-right: 20%;}

	.title span {@include dimensions(w, 24px);}

	.but-icon {
		@include dimensions(35px, h);
		background-size: 70% !important;
	}
}

@media only screen 
  and (min-width: 481px) 
  and (max-width: 600px) {
	.container > div {
		@include dimensions(25%, h);
		overflow: hidden;
		display: inline-block;
		text-align: center;
	}
	.bar-main-container {@include dimensions(80%,h);}		
}

@media only screen 
  and (min-width: 601px) 
  and (max-width: 1023px) {
	.container > div {
		@include dimensions(20%, h);
		overflow: hidden;
		display: inline-block;
		text-align: center;
	}		
	.bar-main-container {@include dimensions(70%,h);}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 850px) { 
	.aboutContent,
	.teamContent {padding: 4%;}

	.statusContent {padding: 4% 4% 0;}

	.aboutContent,
	.statusContent {font-size: 18px;}

	.title {font-size: 3.5vmin;}

}

@media only screen and (min-width: 851px) { 
	.title {font-size: 2.7vmin;}

	.aboutContent,
	.teamContent {padding: 3%;}

	.statusContent {padding: 3% 3% 0;}

	.aboutContent,
	.statusContent {font-size: 18px;}
}
