// (min-width:769px)

html,
body,
#main,
#all {
	width: 100%;
	height: 100%
}

.title span {
	display: block;
	height: 100%;
}

.but-icon {
	width: 20px;
	float: left;
	margin-right: 1%;
}

.about .but-icon {
	background: url('../img/icon_about.png') center no-repeat;
}

.status .but-icon {
	background: url('../img/icon_status.png') center no-repeat;
}

.team .but-icon {
	background: url('../img/icon_team.png') center no-repeat;
}

header {
	height: 25%;

	#prjLogo {
		float: right;
		padding: 1%;
		max-width: 20%;
		height: 80%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	time {
		width: 50%;
		margin: 0 auto;
	    display: block;
	    text-align: center;
	    background-color: #3d4f59;
        padding: 1%;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
		font-size: 25px;
		color: #ED9436;
	}

	time span:last-child {
		margin-left: 85px;
	}

	#logo {
		max-width: 20%;
		max-height: 80%;
		float: left;
		display: inline-block;
		height: 100%;
		padding: 1%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.bar {
		height: 20%;
		color: #fff;
		clear: both;
		background-color: #464646;
		font-size: 23px;

		ul {
			height: 100%;
			width: 100%;
			display: table;
			padding: 0 15px;
		}

		li {
			width: 33%;
			display: table-cell;
			vertical-align: middle;
		}

		li:last-child {
			padding-left: 14%;
		}
	}

	#flag {
		width: 10%;
		display: none;
	}
}

.mainGrid {
	height: 75%;
	padding: 15px 0px 15px 20px;
	background-color: #F3F3F3;
}

.about {
    width: 40%;
    height: 45%;
    display: inline-block;
    float: left;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
		color: #fff;
	    background-color: #2A373D;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 5px;
	    height: 15%;
	    font-size: 3vmin;
	    font-weight: bold;
	}

	.aboutContent {
		color: #5E5E5E;
	    border: 5px solid #F7941E;
		height: 84%;
		padding: 15px;
		font-size: 2vmin;
		background-color: #F3F3F3;
		margin-top: 1%;

		ul {
			margin-bottom: 20px;
		}

		label {
			font-weight: bold;
    		margin-bottom: 10px;
    		display: block;
		}

		li {
			list-style: disc;
			margin-left: 25px;
		}
	}
}

.status {
	width: 57%;
	height: 99.4%;
	float: right;
	display: inline-block;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
		color: #fff;
	    background-color: #2A373D;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 5px;
	    font-size: 3vmin;
	    height: 6.75%;
	    width: 75%;
	    display: inline-block;
	    float: left;
	    font-weight: bold;
	}

	.statusContent {
		color: #5E5E5E;
		height: 93.25%;
		width: 75%;
		float: left;
		font-size: 2vmin;
		display: inline-block;
	    background-color: #F3F3F3;
	    border: 5px solid #F7941E;
	    margin-top: 0.7%;
	    padding: 10px 30px;

		.issues,
		.keyItems {
			width: 100%;
			display: inline-block;
			height: 49%;
			float: left;
			padding: 20px;
		}

		.keyItems {
			margin-top: 2%;
		}

		.issues {
			border-bottom: 3px solid #f7941e;
		}

		ul {
			margin-bottom: 20px;
		}

		label {
			font-weight: bold;
    		margin-bottom: 10px;
    		display: block;
		}

		li {
			list-style: disc;
			margin-left: 25px;
		}
	}
}

.team {
	float: left;
    height: 52%;
    width: 40%;
    margin-top: 1%;
	

    .title {
    	height: 12.74%;
    	color: #fff;
	    background-color: #2A373D;
    	font-size: 3vmin;
    	padding: 5px;
    	font-weight: bold;
    	border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
    }
}

.teamContent {
	height: 87.26%;
	padding: 1.5%;
	border: 5px solid #F7941E;
	background-color: #F3F3F3;
	margin-top: 1%;
}

.teamContent > div {
	overflow: hidden;
	display: inline-block;
	width: 33%;
	height: 33%;
	text-align: center;

}

.teamContent h5 {
	margin: 0;
	font-size: 1.5vmin;
}

img.profilePic {
	max-height: 60%;
}


.progress {
    height: 100%;
	width: 16%;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.bar-main-container {
	background-color: #AAAFB7;
	width: 91%;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 2.2vmin;
	color: #FFF;
	box-shadow: 4px 4px 7px #888888;
}

.wrap { 
	padding: 8px;
	height: 100%;
}

.bar-percentage {
	background: rgba(0,0,0,0.13);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20% 3%;
	width: 70%;
	height: 9%;
	text-align: center;
	margin: 0 auto;
}

.bar-container {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 88%;
	background: rgba(0,0,0,0.13);
	width: 70%;
	margin: 25% auto;
}

.meter { 
	display: flex;
	align-items: flex-end;		
	height: 100%;
	width: 100%;
	background: #555;
	padding: 2px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);


	span {
		display: block;
		height: 100%;
		width: 100%;
		
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		-webkit-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		-moz-box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		box-shadow: 
		  inset 0 2px 9px  rgba(255,255,255,0.3),
		  inset 0 -2px 6px rgba(0,0,0,0.4);
		position: relative;
	}

	span:after {
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background-image:
		   -webkit-gradient(linear, 0 0, 100% 100%,
		      color-stop(.25, rgba(255, 255, 255, .2)),
		      color-stop(.25, transparent), color-stop(.5, transparent),
		      color-stop(.5, rgba(255, 255, 255, .2)),
		      color-stop(.75, rgba(255, 255, 255, .2)),
		      color-stop(.75, transparent), to(transparent)
		   );
		background-image:
			-moz-linear-gradient(
			  -45deg,
		      rgba(255, 255, 255, .2) 25%,
		      transparent 25%,
		      transparent 50%,
		      rgba(255, 255, 255, .2) 50%,
		      rgba(255, 255, 255, .2) 75%,
		      transparent 75%,
		      transparent
		   );
		z-index: 1;
		-webkit-background-size: 50px 50px;
		-moz-background-size: 50px 50px;
		background-size: 50px 50px;
		-webkit-animation: move 2s linear infinite;
		-moz-animation: move 2s linear infinite;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		overflow: hidden;
	}
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

/* BAR COLORS */

.percent10 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF1100), color-stop(1, #FF1100));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,17,0) 37%,
			  rgb(255,17,0) 69%
			 );
}
.percent20 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF5E00), color-stop(1, #FF5E00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,94,0) 37%,
			  rgb(255,94,0) 69%
			 );
}
.percent30 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #007EFF), color-stop(1, #007EFF));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(0,126,255) 37%,
			  rgb(0,126,255) 69%
			 );
}
.percent40 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0037FF), color-stop(1, #0037FF));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(0,55,255) 37%,
			  rgb(0,55,255) 69%
			 );
}
.percent50 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFB000), color-stop(1, #FFB000));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,176,0) 37%,
			  rgb(255,176,0) 69%
			 );
}
.percent60 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFEB00), color-stop(1, #FFEB00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(255,235,0) 37%,
			  rgb(255,235,0) 69%
			 );
}
.percent70 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E4FF00), color-stop(1, #E4FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(228,255,0) 37%,
			  rgb(228,255,0) 69%
			 );
}
.percent80 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B4FF00), color-stop(1, #B4FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(180,255,0) 37%,
			  rgb(180,255,0) 69%
			 );
}
.percent90 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #86FF00), color-stop(1, #86FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(134,255,0) 37%,
			  rgb(134,255,0) 69%
			 );
}
.percent100 {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #27FF00), color-stop(1, #27FF00));
	background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(39,255,0) 37%,
			  rgb(39,255,0) 69%
			 );
}

@media only screen and (min-width: 1280px) {
	.teamContent > div {
		width: 25%;
	}

	header time {
		font-size: 30px;
	}
}

@media only screen and (min-width: 1600px) {
	

	header time {
		font-size: 40px;
	}

	.about {
		height: 53%;

		.title {
			height: 12.74%;
		}

		.aboutContent {
			height: 86%;
		}
	}
	
	.team {
		height: 45%;

		.title {
			height: 15%;
		}

		.teamContent {
			height: 85%;
		}

		.teamContent > div {
			width: 20%;
			height: 50%;
		}
	}

}