html,
body,
#main,
#all {
  width: 100%;
  height: 100%; }

.title span {
  display: block;
  height: 100%; }

.but-icon {
  width: 20px;
  float: left;
  margin-right: 1%; }

.about .but-icon {
  background: url("../img/icon_about.png") center no-repeat; }

.status .but-icon {
  background: url("../img/icon_status.png") center no-repeat; }

.team .but-icon {
  background: url("../img/icon_team.png") center no-repeat; }

header {
  height: 25%; }
  header #prjLogo {
    float: right;
    padding: 1%;
    max-width: 20%;
    height: 80%; }
    header #prjLogo img {
      max-width: 100%;
      max-height: 100%; }
  header time {
    width: 40%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #3d4f59;
    padding: 1%;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  header time span:last-child {
    margin-left: 85px; }
  header #logo {
    max-width: 20%;
    max-height: 80%;
    float: left;
    display: inline-block;
    height: 100%;
    padding: 1%; }
    header #logo img {
      max-width: 100%;
      max-height: 100%; }
  header .bar {
    height: 20%;
    color: #fff;
    clear: both;
    background-color: #3D4F59;
    font-size: 23px; }
    header .bar ul {
      height: 100%;
      width: 100%;
      display: table;
      padding: 0 15px; }
    header .bar li {
      width: 33%;
      display: table-cell;
      vertical-align: middle; }
    header .bar li:last-child {
      padding-left: 20%; }
  header #flag {
    width: 10%;
    display: none; }

.mainGrid {
  height: 75%;
  padding: 15px 20px; }

.about {
  background-color: #cf0;
  width: 40%;
  height: 45%;
  display: inline-block;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .about .title {
    color: #fff;
    background-color: #1263C7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    height: 13%;
    font-size: 3vmin; }
  .about .aboutContent {
    background-color: #ccc;
    height: 87%;
    padding: 15px; }
    .about .aboutContent ul {
      margin-bottom: 20px; }
    .about .aboutContent label {
      font-weight: bold;
      margin-bottom: 10px;
      display: block; }
    .about .aboutContent li {
      list-style: disc;
      margin-left: 25px; }

.status {
  width: 57%;
  height: 100%;
  float: right;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .status .title {
    background-color: orange;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-size: 3vmin;
    height: 6%;
    width: 70%;
    display: inline-block;
    float: left; }
  .status .statusContent {
    height: 94%;
    width: 70%;
    float: left;
    font-size: 1.5em;
    display: inline-block; }
    .status .statusContent .issues {
      background-color: #2a373d;
      color: #fff;
      padding-bottom: 11%; }
    .status .statusContent .keyItems {
      padding-top: 13%;
      background-color: #ff8720; }
    .status .statusContent .issues,
    .status .statusContent .keyItems {
      width: 100%;
      display: inline-block;
      height: 49%;
      float: left;
      margin-top: 1%;
      padding: 20px; }
    .status .statusContent ul {
      margin-bottom: 20px; }
    .status .statusContent label {
      font-weight: bold;
      margin-bottom: 10px;
      display: block; }
    .status .statusContent li {
      list-style: disc;
      margin-left: 25px; }

.team {
  float: left;
  height: 55%;
  width: 40%; }
  .team .title {
    height: 10.64%;
    background-color: pink;
    font-size: 3vmin;
    padding: 5px; }

.teamContent {
  max-height: 90%;
  height: 90%; }

.teamContent > div {
  overflow: hidden;
  display: inline-block;
  width: 33%;
  height: 33%;
  text-align: center; }

.teamContent h5 {
  margin: 0; }

img.profilePic {
  max-height: 69%;
  max-height: 67%; }

.progress {
  height: 100%;
  width: 16%;
  padding: 2%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end; }

.bar-main-container {
  background-color: #AAAFB7;
  width: 91%;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  color: #FFF;
  box-shadow: 4px 4px 7px #888888; }

.wrap {
  padding: 8px;
  height: 100%; }

.bar-percentage {
  background: rgba(0, 0, 0, 0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20% 3%;
  width: 70%;
  height: 9%;
  text-align: center;
  margin: 0 auto; }

.bar-container {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 88%;
  background: rgba(0, 0, 0, 0.13);
  width: 70%;
  margin: 25% auto; }

.meter {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background: #555;
  padding: 2px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }
  .meter span {
    display: block;
    height: 100%;
    width: 100%;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative; }
  .meter span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
@-moz-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
/* BAR COLORS */
.percent10 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF1100), color-stop(1, #FF1100));
  background-image: -moz-linear-gradient(center bottom, #ff1100 37%, #ff1100 69%); }

.percent20 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF5E00), color-stop(1, #FF5E00));
  background-image: -moz-linear-gradient(center bottom, #ff5e00 37%, #ff5e00 69%); }

.percent30 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #007EFF), color-stop(1, #007EFF));
  background-image: -moz-linear-gradient(center bottom, #007eff 37%, #007eff 69%); }

.percent40 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0037FF), color-stop(1, #0037FF));
  background-image: -moz-linear-gradient(center bottom, #0037ff 37%, #0037ff 69%); }

.percent50 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFB000), color-stop(1, #FFB000));
  background-image: -moz-linear-gradient(center bottom, #ffb000 37%, #ffb000 69%); }

.percent60 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFEB00), color-stop(1, #FFEB00));
  background-image: -moz-linear-gradient(center bottom, #ffeb00 37%, #ffeb00 69%); }

.percent70 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E4FF00), color-stop(1, #E4FF00));
  background-image: -moz-linear-gradient(center bottom, #e4ff00 37%, #e4ff00 69%); }

.percent80 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B4FF00), color-stop(1, #B4FF00));
  background-image: -moz-linear-gradient(center bottom, #b4ff00 37%, #b4ff00 69%); }

.percent90 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #86FF00), color-stop(1, #86FF00));
  background-image: -moz-linear-gradient(center bottom, #86ff00 37%, #86ff00 69%); }

.percent100 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #27FF00), color-stop(1, #27FF00));
  background-image: -moz-linear-gradient(center bottom, #27ff00 37%, #27ff00 69%); }

/*# sourceMappingURL=styles-large.css.map */
