// (min-width:769px)

html,
body,
#main,
#all {
	width: 100%;
	height: 100%
}

header {
	height: 13%;
	background-color: #ccc;
	padding: 1%;

	#prjLogo,
	time {
		display: none;
	}

	#logo {
		max-width: 30%;
		display: inline-block;
		max-height: 100%;
		margin-right: 3%;
		float: left;
		height: 100%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.bar {
		width: 67%;
		display: inline-block;
		color: #fff;

		li {
			display: inline-block;
			width: 33%;
		}
	}

	#flag {
		width: 10%;
	}
}

.mainGrid {
	height: 87%
}

.about {
	background-color: #cf0;
    width: 30%;
    height: 45%;
    display: inline-block;
    float: left;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
	    background-color: #1263C7;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 10px;
	}

	.aboutContent {
		background-color: #ccc;
	}
}

.status {
	background-color: #c6F;
	width: 70%;
	height: 45%;
	display: inline-block;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;

	.title {
	    background-color: orange;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    padding: 10px;
	}
}

.team {
	clear: both;
    height: 55%;
    width: 40%;
}

.teamContent {
	max-height: 90%;
	height: 90%;
}

.teamContent > div {
		overflow: hidden;
		display: inline-block;
		width: 33%;
		height: 33%;
		text-align: center;
}

.teamContent h5 {
	margin: 0;
}

img.profilePic {
	max-height: 69%;
	max-height: 67%;
}


@media only screen 
  and (min-width: 1024px) {
	
}
