*, 
*:before, 
*:after {
	box-sizing: border-box;
}

html, 
body, 
#main,
.all {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

header {
	height: 25%;
}

main {
	height: 75%;
	padding: 0 25px;
	
}

#prjLogo {
    float: left;
    max-width: 20%;
    max-height: 80%;
}

#logo {
    max-width: 20%;
    max-height: 80%;
    float: right;
}

time {
    width: 50%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
	padding: 1%;
	background-color: #3D4F59;
	color: #ED9436;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}
 
time span:last-child {
	margin-left: 85px;
}

.bar {
	background-color: rgb(61, 79, 89);
	height: 20%;
	clear: both;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	padding: 0 0.5%;
	margin: 0;
}

.bar ul{
	margin: 0 0 5px;
}

.bar li {
    display: inline-block;
    width: 33%;
}

.bar li:last-child {
	text-align: right;
}

.abouttheproject {
	height: 100%;
}

.abouttheproject h2, .team h2{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	background-color: #464646;
	color: #FFFFFF ;
	padding: 0;
	font-size: 1.8vw;
	margin: 0;
	height: 10%;

}

.abouttheproject ul{
	padding: 15px;
	background-color: #B9B9B9;
	margin: 0;
	height: 100%;
}
.abouttheproject ul label, .projectStatus ul label{
	color: #5E5E5E;
	font-weight: bold;
}

.abouttheproject ul li, .projectStatus ul li{
	padding: 5px;
	color: #5E5E5E;
	margin-left: 35px;
}

.team {
	height: 100%;
}

.boxcol-1-3{
	width: 25%;
	display: inline-flex;
	height: 112px;
	text-align: center;
}

.perfilname{
	margin: 0 auto;
	width: 75%;
	display: block;
}

.box{
	border: 1px dashed #464646;
	padding: 5px 0 0 20px;
	border-top: none;
	height: 89%;
}

.box1{
	padding: 5px 0 0;
	border-top: none;
	height: 87%;
}

.mainGrid {
 	width: 100%;
 	height: 100%;
 	padding-top: 1%;
}

.col-1-3 {
  width: 100%;
  display: inline-block;
}

.col-2-3 {
  width: 100%;
  display: inline-block;
  padding-left: 10px;

}

.projectStatus {
    height: 100%;
}

#about {
	height: 45%;
}

#about h2 {
	height: 13%;
}

#team {
	height: 55%;
	padding-top: 3%;
}

.leftCol {
	width: 40%;
	height: 100%;
	display: inline-block;
	float: left;
}

.rigthCol{
	width: 60%;
	height: 100%;
	padding-left: 0.9%;
	display: inline-block;
	float: right;
}

.projectStatus h2{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	background-color: #EF8803;
	color: #FFFFFF ;
	padding: 0;
	font-size: 1.8vw;
	margin: 0;
	height: 5.6%;
}

.projectStatus ul{
	padding: 15px;
	margin: 0;
}

#status {
	height: 54.9%;
}

.col-1-2 {
	height: 39.5%;
	width: 100%;
	padding: 0.7% 0 0;
}

.content1 {
	height: 100%;
	background-color: #b9b9b9;
	display: inline-block;
	width: 50%;
	float: left;
}

.content1:first-child {
	border-right: 5px solid #fff;
}

.statusContent {
	height: 100%;
	width: 100%;
	float: left;
}

.imgstatus{
	height: 65%;
	margin: 0 auto;
	display: block;
}
.statusText {
	font-size: 5vh;
	margin: 4% 0 7.2%;
	text-align: center;
}

/* Fade animation */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 5s ease-out 10s;
}


/*SCROLL ANIMATION*/

.scroll-appear {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}